

h1 {
font-family: Tahoma, Geneva, sans-serif;
text-align: center;
margin-bottom: .5rem;
display: inline-block;
background: #062844;
color: #fff;
margin-bottom: 1;
width: 98.6%;
padding: 10px;
font-size:13px;
text-transform: uppercase;
border-radius: 0px;
}
.topnav{
font-family: Tahoma, Geneva, sans-serif;
background-color: #062844;
overflow: hidden;
}
.topnav a {
font family: Tahoma, Geneva, sans-serif;
font-size: 15px;
float: right;
color: white;
text-align: center;
text-decoration: none;
padding: 15px 10px;
padding-top: 19px;
}
.topnav div :hover{
background-color: #EA3522;
color: white;
}
.topnav div .active{
background-color: #04AA6D;
color: white;
}
.topnav .navbar-brand{
Tahoma, Geneva, sans-serif;
font-size: 15px;
float: left;
color: white;
text-align: center;
text-decoration: none;
padding: 14px 25px;
padding-top: 18px;
}
.topnav .navbar-logo{
Tahoma, Geneva, sans-serif;
float: left;
color: white;
text-align: center;
text-decoration: none;
padding: 1px 25px;
padding-top: 14px;
}
table{
border-collapse: collapse;
font-family: Tahoma, Geneva, sans-serif;
width:100%;
}
table thead tr th{
padding: 15px;
text-align:center;
text-decoration: none;
}
table thead tr th{
background-color: #a1a1a1;
color: #ffffff;
font-weight: bold;
font-size: 14px;
border: 1px solid #ffffff;
}

table thead tr th a{
text-decoration: none;
color: #ffffff;
}

table tbody tr td{
color: #636363;
border: 1px solid #ffffff;
text-align:center;
background-color: #fafafa;
font-size: 12px;
}
table thead tr th a: hover{
background-color: #1e96c8;
color: white;
}
table thead tr th a :active{
background-color: #1e96c8;
color: white;
}
.box a {
width: 90px;
display: inline-block;
}
.btn-2{
display:inline-block;
box-sizing: border-box;
padding: 0 13px;
margin: 0 15px 15px 0;
outline: none;
border: 1px solid transparent;
border-radius: 3px;
height: 32px;
font-size: 14px;
font-weight: 500;
text-decoration: none;
color: #fff;
background-color: #1e96c8;
cursor: pointer;
user-select: none;
appearance: none
touch-action: manipulation;
}
.btn-2: focus-visible{
box-shadow: 0 0 0 3px lightskyblue;
}
.btn-1{
display:inline-block;
box-sizing: border-box;
padding: 0 13px;
margin: 0 15px 15px 0;
outline: none;
border: 1px solid transparent;
border-radius: 3px;
height: 32px;
font-size: 14px;
font-weight: 500;
text-decoration: none;
color: #fff;
background-color: #EA3522;
cursor: pointer;
user-select: none;
appearance: none
touch-action: manipulation;
}
.btn-1: focus-visible{
box-shadow: 0 0 0 3px lightskyblue;
}


body .pressed-button{
display:inline-block;
box-sizing: border-box;
padding: 0 13px;
margin: 0 15px 15px 0;
outline: none;
border: 1px solid transparent;
border-radius: 3px;
height: 32px;
font-size: 14px;
font-weight: 500;
text-decoration: none;
color: #fff;
background-color: #1e96c8;
cursor: pointer;
user-select: none;
appearance: none
touch-action: manipulation;
}
body .col-sm-1{
font family: Tahoma, Geneva, sans-serif;
font-size: 15px;
float: right;
color: #1e96c8;
text-align: center;
text-decoration: none;
padding: 15px 10px;
padding-top: 19px;
}

body .col-sm-2{
font family: Tahoma, Geneva, sans-serif;
font-size: 15px;
float: right;
color: #1e96c8;
text-align: center;
text-decoration: none;
padding: 15px 10px;
padding-top: 19px;
}