<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Vvod Managment System</title>
    <link rel="stylesheet" href="src/main/resources/static/css/style.css" th:href="@{/css/admin.css}">

</head>
<body>
<table>
    <thead>
    <tr>
        <th>НТЭ</th>
        <th>План ввода</th>
        <th>Факт ввода</th>
        <th>Процент выполнения</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vvod: ${listVvod}">
        <td th:text = "${vvod.nteName}"></td>
        <td th:text = "${vvod.planVvoda}"></td>
        <td th:text = "${vvod.factVvoda}"></td>
        <td th:text = "${vvod.procent}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>