<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Система отчетности</title>
    <link rel="stylesheet" href="src/main/resources/static/css/style.css" th:href="@{/css/styleReg.css}">
</head>
<body bgcolor="#062844">

<br>
<br>
<!-- Create HTML registration form -->
<div class="signupSection">
    <div class="info">
        <h2>Трансэнерго</h2>
        <i class="icon ion-ios-ionic-outline" aria-hidden="true"></i>
        <p>Система отчетности</p>
    </div>
    <form th:action="@{/registration}" method="post" th:object="${user}">
        <h2>Регистрация в системе</h2>
        <ul class="noBullet">
            <li>
                <label for="userName"></label>
                <input type="text" class="inputFields" id="userName"  placeholder="Имя пользователя" th:field="*{userName}"
                       required autofocus="autofocus" />
            </li>
            <li>
                <label for="lastName"></label>
                <input type="text" class="inputFields" id="lastName"  placeholder="Фамилия" th:field="*{lastName}"
                       required autofocus="autofocus" />
            </li>
            <li>
                <label for="email"></label>
                <input type="email" class="inputFields" id="email" placeholder="Электронная почта (rzd)" th:field="*{email}"
                       required autofocus="autofocus"/>
            </li>
            <li>
                <label for="department"></label>
                <input type="text" class="inputFields" id="department" placeholder="Подразделение" th:field="*{department}"
                       required autofocus="autofocus"/>
            </li>

            <li>
                <label for="password"></label>
                <input type="password" class="inputFields" id="password" placeholder="Пароль" th:field="*{password}"
                       required autofocus="autofocus"/>
            </li>

            <li id="center-btn">
                <input type="submit" id="join-btn" alt="Регистрация">
                <span id="log">Есть в системе? <a href="/" th:href="@{/login}">Нажмите для входа</a></span>
            </li>
        </ul>
    </form>
</div>
</body>
</html>